/* Element selectors */
html {
    font-family: sans-serif;
}

img {
    display: block;
    width: 450px;
    height: 500px;
    border-radius: 2%;
    margin: 0 auto;
}

body {
    padding: 5px 20px 20px 20px;
    background-color: beige;
    border-radius: 3%;
}

/* Class selectors */
.bio-para {
    background-color: white;
    padding: 10px;
    border-radius: 3%;
}
.references_article{
    margin-top: 20px;
}

/* ID selectors */
#heading {
    color: rgb(63, 63, 234)
}

#header-article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#set-bg-yellow,
#set-bg-orange,
#reset-bg {
    height: 30px;
    width: auto;
    margin: 10px;
    border-radius: 5x;
}

#buttons_para {
    margin-top: 2%;
}

#btn1,
#btn2 {
    height: 30px;
    width: auto;
    margin: 10px;
    border-radius: 5x;
}

#more_photos{
    display: flex;
    flex-direction: row;
  
}

/* Pseudo elements */
p.bio-para::first-line {
    font-weight: bold;
}

p::first-letter {
    font-weight: 600;
}

/* Psuedo classes */
a:hover {
    background-color: aqua;
}